.article
  min-width: 80%
  padding-bottom: 20px
  margin: 10px
  background-color: #ddd
  background: linear-gradient(to bottom, #aaaaaa 0%,#dddddd 100%);
  border-radius: 10px
  border: 1px solid transparent

.header
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 3px solid #144694
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  background: linear-gradient(to bottom, #5e96d6 0%,#1a5dad 100%);
  color: #fff
  margin-bottom: 20px
  padding-top: 20px
  padding: 0 20px
  font-size: 60px

.title
  margin: 0 auto
  font-weight: 600

.sId
  color: #666
  margin-left: 30px

.summary
  font-size: 50px
  padding: 0 20px

.source
  display: flex
  flex-direction: row-reverse
  color: #666
  font-size: 20px
  padding: 0 20px
