.article
  min-width: 80%
  padding: 20px
  margin: 10px
  background-color: #ddd
  border-radius: 10px
  border: 1px solid transparent

.header
  display: flex

.title
  margin: 0 auto

.sid
  color: #666
  margin-left: auto

.summary

.source
  color: #666
  margin-left: auto
